
h1, h2, h3, h4, p, li {
  font-family: sans-serif;
}

h1, h2, h3 {
  color: #1098ad;
}

h1 {

  font-size: 26px;
  
  text-transform: uppercase;
  font-style: italic;
  
}

h2 {
  font-size: 40px;
  
}

h3 {
  font-size: 30px;
  
}

h4 {
  font-size: 20px;
  
  text-transform: capitalize;
  text-align: center;
}

p {
  font-size: 22px;
  
  line-height: 1.5;
}

li {
  
  font-size: 20px;
}

/* descendant selector */
/* footer p {
  font-size: 16px;
} */

/* descendant selector */
/* article header p {
  font-style: italic;
} */

#author {
font-style: italic;
font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
list-style: none;
} */

.related {
  list-style: none;
}



/* 
==========================
Notes: Working with Colors
- two ways to define color in css:
1.RGB/RGBA NOTATION
2.HEXADECIMAL NOTION

.............
- RGB notation examples:
rgb(0, 255, 255)

with transparency("alpha")
rgba(0, 255, 255, 0.03) =the forth number is the transparency.
..............

- HEXADECIMAL NOTION
instead of using a scale from 0-255, we go from 0 to ff
(255 in hexadecimal numbers
example: #00ffff

=========================
*/

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/*
------------------------------- 
Pseudo-classes
---------
how to target using pseudo-classes

li:first-child {
font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}

li:nth-child(odd) {
  color: green;
}

*/
